TODAY I WAS LERNING CSS AND ADDING BY A COLORS SOME COLORS ARE DIFFERENCE THE COLORS  STYLE.HTML TO ADD STYLE.CSS LINKED THE CSS
<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  href="C:\Users\pilli\style.css" rel="stylesheet" >
  

  <title>css file </title>
  <style>


    #one {
      background-color: yellow;
      color: rgb(128, 115, 0);
    }
    .two {
      background-color: green !important;
      color: yellow   ;
    }
    #two{
      background-color: brown   ;
      color: yellow;
    }
    #three {
      background-color: blue;
      color: white;  
    }
    #four {
      background-color: red;
      color: white;
    }

    
  </style>

</head>
<body >
  <div id="one">  welcome  </div>
  <div id="two" >  to  hydrabad </div>
  <div id="three"> to  hydrabad </div>
  <div id="four">  to chenai</div>
  <div id="one">   to  china </div>
  <div id="four">  to  home </div>

  


</body>
</html>
